body,html{
  margin: 0;
  padding: 0;
  /*font-family: 'Julius Sans One', sans-serif  !important;*/
 
font-family: 'Raleway', sans-serif !important;  
  font-weight: 300 !important;
  background: url('../images/newyorkcity.jpg')center no-repeat fixed;
  background-size: cover;
  z-index: -1000;
  -webkit-font-smoothing: antialiased;
}
.main-navbar-container{
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 15;
  display: none;
}
.orderlist{
  position: relative;
  list-style: none;
  left: 23%;
  width: 700px;
  line-height: 50px;
  background-color: rgba(232,116,97,.8);
}
.orderlist li{
  position: relative;
  display: inline-block;

}
.orderlist li a{
  color: white;
  position: relative;
  padding:14px 25px; 
  font-size: 1.5em;
  text-decoration: none;                                                                                                                                             d                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
}
.orderlist li a:hover{
  color: black;
  background-color: rgba(255,255,255,.5);
}
.menu-button{

  background: url('../images/Menu-50.png')center no-repeat;
  background-size: cover;
  color: white;
  position: absolute;
  left: 15px;
  top: 10px;
  height: 30px;
  width: 30px;
  z-index: 20;
}
.menu-button:hover{
  cursor: pointer;
}
.cover-container{
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: 0;
  background-color: rgba(43, 45, 66,.85);
}
.box{
  width: 100%;
  text-align: center;
}
.name{
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40px;
  /*left:27%;*/
  color: rgba(255,255,255,.6);
  font-size: 3em;
}
.name h1{
  font-size: 2em;
}
.profile-img{
  background:url('../images/folio.png')center no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid grey;
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -100px;
  z-index: 1;
}
.title{
  color: rgba(255,255,255,.6);
  position: absolute;
  font-size: 2em;
  top: 420px;
  width: 100%;
  text-align: center;
  /*left: 42%;*/
}
.scrolldown-arrow{
  background: url('../images/Angle Down-50.png')center no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -25px;
  height: 50px;
  width: 50px;
}
.scrolldown-arrow:hover{
  cursor: pointer;
}

/*About section css*/
.about_section{
  width: 100%;
  background-color: rgba(216,219,226,1);
  color: rgba(0,0,0,.6);
  text-align: center;
  padding-top: 50px;
  border-top: 1px solid rgba(0,0,0,.2);
  /*padding-bottom: 50px;*/
}
.about_section h1{
  font-size: 4em;
}
.about_section p{
  line-height: 50px;
  font-size: 2em;
  padding-bottom: 50px;
}

.project{
  width: 100%;
  background-color: rgba(55,63,81,1);
  /*margin-top: 0;*/
  padding:50px 0px;
  text-align: center;
  color: white;
  border-top: 1px solid rgba(0,0,0,.2);
}
.project h1{
  font-size: 4em;
}
.fusion{
  padding: 50px 0px;
}
.f-logo{
  background: url('../images/fusion_hair_salon.jpg')center center no-repeat;
  background-size: cover;
  height: 400px;
}
.f-logo:hover{
  cursor: pointer;
}
.f-detail{
  background-color:rgba(237,242,244,.7);
  color: black;
  height: 400px;
  font-size: 1.5em;
}

.tendigi{
  padding: 50px 0px;
}
.t-logo{
  background: url('../images/tendigi_logo.png')center center no-repeat;
  background-size: cover;
  height: 400px;
}
.t-logo:hover{
  cursor: pointer;
}
.t-detail{
  background-color:rgba(237,242,244,.7);
  color: black;
  height: 400px;
  font-size: 1.5em;
}
.future_project_detail{
  padding: 50px 0px;
}

.attachments{
  width: 100%;
  background-color: rgba(70,73,76,1);
  color: lightgrey;
  text-align: center;
  font-size: 3em;
  border-top: 1px solid rgba(0,0,0,.2);
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding-top: 10px;
}
.attachments a{
  color: #E87461;
  text-decoration: none;
}
.attachments a:hover{
  text-decoration: none;
  color: #A9DEF9;
}

/*footer css*/

.footer{
  padding-top: 50px;
  margin-bottom: 0;
  background-color: grey;
  color: rgba(0,0,0,.89);
  border-top: 1px solid rgba(0,0,0,.1);

}

.footer div p{
  color:  rgba(0,0,0,.89) !important;
}
.email_phone{
  /*padding-top: 30px;*/
  text-align: center;
  color: rgba(255,255,255,.6);
  font-size: 2em;
}
.email_phone a{
  color: lightgrey;
  text-decoration: none;
}
.email_phone a:hover{
  text-decoration: none;
  color: lime;
}
.social{
  text-align: center;
  
}
.social span{
  padding-right: 20px;
}
.social img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.social img:hover{
  /*background-color: rgba(55,63,81,.5);*/
  background-color: rgba(255,255,255,.5);
}
.hr_line{
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgba(0,0,0,.2)
}
.copyright{
  text-align: center;
  font-size: 1.2em;
  color: rgba(255,255,255,.6);
}
#bkt{
  height: 40px;
  width: 40px;
}
.bktt{
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}


@media all and (max-width: 996px){
  .main-navbar-container{
    position: relative;
    height: auto;
    margin-bottom: -10px;
  }
  .orderlist{
    position: relative;
    list-style: none;
    line-height: 50px;
    width: 100%;
    left: 0;
    /*background-color: rgba(0,0,0,.8);*/
    background-color: rgba(232,116,97,.95);
    text-align: center;
  }
  .orderlist li a{
    /*color: white;*/
    }
  .menu-button{
  }
  .cover-container{
      /*top:-10px;*/
  }
  .f-detail{
    line-height: 50px;
    font-size: 1.5em;
  }

  .t-detail{
    line-height: 50px;
    font-size: 1.5em;
  }
}
@media all and (max-width: 768px){
  
  .orderlist{
    position: relative;
    list-style: none;
    line-height: 50px;
    width: 100%;
    left: 0;
    background-color: rgba(232,116,97,.95);
    text-align: center;
  }
  .orderlist li{
    display: block;
  }
  .cover-container{
    margin-top: 0px;
  }
  .name{
    position: absolute;
    top: 80px;
    color: rgba(255,255,255,.5);
    font-size: 2em;
  }
  .about_section p{
    line-height: 40px;
    font-size: 1.5em;
  }
  .f-detail{
    line-height: 40px;
    font-size: 1.5em;
  }

  .t-detail{
    line-height: 40px;
    font-size: 1.5em;
  }
  .future_project_detail h2{
    font-size: 1.8em ;
  }
}
/*@media all and (max-width: 480px){
  
  .orderlist{
    position: relative;
    list-style: none;
    line-height: 50px;
    width: 100%;
    left: 0px;
    background-color: rgba(255,255,255,.8);
    text-align: center;
  }
  .orderlist li{
    display: block;
  }
  .name{
    position: absolute;
    top: 80px;
    color: rgba(255,255,255,.5);
    font-size: 1.5em;
  }
  .about_section p{
    line-height: 40px;
    font-size: 1.5em;
  }*/
 
}

